body {
	padding: 50px;
	font-family: sans-serif;
}

a {
	color: #00B7FF;
}

select {
	font-size: 3em;
}

.hidden {
	display: none;
}

#chat {
	ul {
		list-style: none;
		padding: 0;
		height: 12em;
		overflow-y: scroll;
		background-color: #EEE;
		li {
			font-size: 1.4em;
			padding: .5em 0;
			border-top: 1px solid #DDD;
			display: flex;
			align-items: baseline;
			.avatar {
				font-size: 1.2em;
				&::after {
					content: ':';
					padding: 0 .3em;
				}
			}
			// .plaintext {
			// 	// margin: 0 .5em;
			// }
			&.yours {
				justify-content: flex-end;
				.avatar {
					order: 2;
					&::after {
						content: '';
					}
					&::before {
						content: ':';
						padding: 0 .3em;
					}
				}
			}
		}
	}
}
